@charset "UTF-8";

.container .developer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url("../img/developer_bg.png");
  background-repeat: no-repeat;
  background-size: 120% 130px;
  background-position: top center;
  padding-top: 80px;
}

.container .developer .developer_left {
  width: 300px;
  min-height: 1031px;
  position: relative;
  background: #2E2F3E;
  border-radius: 10px 0px 0px 10px;
  padding: 40px 0 40px 25px;
}

/* .container .developer .developer_left .developer_column {
  height: 43px;
  background: #052E5D;
  border-radius: 2px 2px 0px 0px;
  font-size: 20px;
  line-height: 43px;
  padding-left: 20px;
  font-weight: 400;
  color: #FFFFFF;
} */

.container .developer .developer_left .developer_column .dev_logo{
  width: 161px;
  height: 20px;
  margin-left: 15px;
}

.container .developer .developer_left .developer_column_bottom {
  position: absolute;
  bottom: 0;
  font-size: 16px;
  font-weight: 500;
  color: #272B3E;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px 0 30px 0;
  border-top: 1px solid #f7f5f5;
}

.container .developer .developer_left .developer_column_bottom span {
  padding-left: 46px;
}

.container .developer .developer_left .developer_column_bottom .icon {
  width: 16px;
  height: 16px;
  margin-right: 17px;
}

.container .developer .developer_left .developer_column_bottom .icon img {
  width: 100%;
}

.container .developer .developer_left .developer_column_list{
  margin-top: 27px;
}

.container .developer .developer_left .developer_column_list li {
  cursor: pointer;
}

.container .developer .developer_left .developer_column_list li a {
  height: 44px;
  line-height: 44px;
  font-size: 14px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 13px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  text-decoration: none;
  display: block;
  border-left: 2px solid transparent;
  overflow: hidden;
}

.container .developer .developer_left .developer_column_list li ul a{
  color: rgba(255, 255, 255, 0.5);
}

.container .developer .developer_left .developer_column_list li a:hover {
  border-left: 2px solid #113EC5;
  background-color: #262734;
  color: #FFFFFF;
}

.container .developer .developer_left .developer_column_list li a.active {
  border-left: 2px solid #113EC5;
  background-color: #262734;
  color: #FFFFFF;
}

.container .developer .developer_left .developer_column_list li .arrow.active::before {
  width: 12px;
  height: 7px;
  content: " ";
  background: url("../img/column_t.png");
  background-size: 100% 100%;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -3.5px;
  -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
        -o-transition: all .25s;
          transition: all .25s;
}

.container .developer .developer_left .developer_column_list li .arrow:before {
  width: 12px;
  height: 7px;
  content: " ";
  background: url("../img/column_d.png");
  background-size: 100% 100%;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -3.5px;
  -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
        -o-transition: all .25s;
          transition: all .25s;
}

.container .developer .developer_left .developer_column_list li .select:before {
  width: 12px;
  height: 7px;
  content: " ";
  background: url("../img/column_d.png");
  background-size: 100% 100%;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -3.5px;
  -webkit-transition: all .25s;
      -moz-transition: all .25s;
      -ms-transition: all .25s;
        -o-transition: all .25s;
          transition: all .25s;
}

.container .developer .developer_left .developer_column_list li ul {
  margin-left: 20px;
}

.container .developer .developer_left .developer_column_list .li {
  cursor: pointer;
}

.container .developer .developer_left .developer_column_list .li .li_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .developer .developer_left .developer_column_list .li .li_content .name {
  font-size: 12px;
  font-weight: 400;
  color: #272B3E;
  padding: 12px 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  border-bottom: 1px solid #E9E9E9;
}

.container .developer .developer_left .developer_column_list .li .li_content .arrow:before {
  width: 8px;
  height: 5px;
  content: " ";
  background: url("../img/column_t.png");
  background-size: 100% 100%;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2.5px;
}

.container .developer .developer_left .developer_column_list .li .li_content .icon {
  width: 10px;
  height: 10px;
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.container .developer .developer_left .developer_column_list .li .li_content .icon img {
  width: 100%;
}

.container .developer .developer_left .developer_column_list .li .all_list {
  background: #F9F9FB;
  padding-left: 50px;
  padding-bottom: 20px;
  display: none;
  height: 205px;
  overflow: hidden;
}

.container .developer .developer_left .developer_column_list .li .all_list li {
  font-size: 12px;
  font-weight: 400;
  color: #272B3E;
  padding-top: 20px;
}

.container .developer .developer_left .developer_column_list .li .all_list li:hover {
  color: #1C4BDE;
  font-weight: 700;
}

.container .developer .developer_left .developer_column_list .active .li_content .arrow:before {
  width: 8px;
  height: 5px;
  content: " ";
  background: url("../img/column_right.png");
  background-size: 100% 100%;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -2.5px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.container .developer .developer_left .developer_column_list .active .all_list {
  display: block;
  -webkit-animation: moveColumn 0.5s 0s;
  animation: moveColumn 0.5s 0s;
  /*设置划入导航栏下拉的动画效果*/
}

.book-icon{
  display: initial !important;
}

@-webkit-keyframes moveColumn {

  /*设置animation动画参数*/
  0% {
    /*动画开始时*/
    height: 0px;
  }

  100% {
    /*动画结束时*/
    height: 205px;
  }
}

@keyframes moveColumn {

  /*设置animation动画参数*/
  0% {
    /*动画开始时*/
    height: 0px;
  }

  100% {
    /*动画结束时*/
    height: 205px;
  }
}

.container .developer .developer_left .developer_column_list .developer_search {
  padding: 16px 12px 16px 12px;
}

.container .developer .developer_left .developer_column_list .developer_search .search {
  height: 35px;
  background: #F8F9FA;
  border-radius: 2px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .developer .developer_left .developer_column_list .developer_search .search .icon {
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: 10px;
  margin-left: 12px;
}

.container .developer .developer_left .developer_column_list .developer_search .search .icon img {
  width: 100%;
}

.container .developer .developer_left .developer_column_list .developer_search .search input {
  width: 138px;
  height: 17px;
  background: #F8F9FA;
}

.container .developer .developer_right {
  width: 900px;
  min-height: 1031px;
  background: #262734;
  position: relative;
  border-radius: 0 10px 10px 0;
}

.container .developer .developer_right .m_mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #ffffff;
  z-index: 9;
  display: none;
  opacity: 0.3;
}

.container .developer .developer_right .content {
  padding: 80px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 30px;
}

.container .developer .developer_right .content .textIndex {
  /* text-indent: 30px; */
}

.container .developer .developer_right .content span {
  color: #1C4BDE;
}

.container .developer .developer_right .content .code {
  background: #1B1C28;
  border-radius: 4px;
  padding: 19px 50px;
  margin: 20px 0;
  color: #ffffff;
}

.container .developer .developer_right .column_title {
  margin-top: 60px;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 32px;
  padding-left: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.container .developer .developer_right .column_title .m_left_nav_click {
  width: 9px;
  height: 5px;
  display: none;
  margin-left: 10px;
  position: relative;
  z-index: 10;
}

.container .developer .developer_right .column_title span {
  /* font-size: 16px; */
  /* font-weight: 500; */
  color: #FFFFFF;
}

@media (max-width: 768px) {
  .container .developer {
    padding-top: 0;
    background-image: url("../img/developer_bg_m.png");
    background-size: 100% 142px;
  }

  .container .developer .developer_left {
    display: none;
  }

  .container .developer .developer_right {
    min-width: 300px;
    margin: 63px 18px 100px 18px;
    border-radius: 10px;
  }

  .container .developer .developer_right .column_title{
    margin-top: 0;
    padding: 24px 18px;
    font-size: 24px;
  }

  .container .developer .developer_right .content {
    padding: 18px;
    font-size: 13px;
    line-height: 23px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  .container .developer .developer_right .content .textIndex {
    text-indent: 20px;
  }

  .container .developer .developer_right .content .code {
    padding: 15px 15px;
  }
  
  .container .developer .developer_right .content .h3 {
    font-size: 16px;
  }

  .container .developer .developer_right .w-content {
    width: 375px;
  }

  .container .developer .developer_right .column_title .m_left_nav_click {
    display: inline;
  }

  .container .developer .developer_right .w-column_title {
    width: 375px;
  }

  .m_dev_list {
    padding-bottom: 60px;
    overflow-y: scroll;
    height: 100%;
  }

  .m_dev_list li a {
    height: 52px;
    line-height: 52px;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    padding-left: 18px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    position: relative;
    text-decoration: none;
    display: block;
  }

  .m_dev_list li .arrow:before {
    width: 12px;
    height: 7px;
    content: " ";
    background: url("../img/column_d.png");
    background-size: 100% 100%;
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -3.5px;
    -webkit-transition: all .25s;
        -moz-transition: all .25s;
        -ms-transition: all .25s;
          -o-transition: all .25s;
            transition: all .25s;
  }

  .m_dev_list li ul a{
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    padding-left: 30px;
  }

}