{{ define "dummy" }}{{ end }}
{{ define "main" }}

{{ partial "news/inject/head" . }}
<div class="container">
    <div class="news">
		<a class="news_list_back" href="/{{ .Site.Language.Lang }}/news/">
			<img src="/img/icon_back.png" alt="">
			{{ i18n "back" }}
		</a>
        <div class="news_list">
            <div class="tile is-child box">
                <div class="content">
                    <div class="content-title">
                        <h1 class="title">
                            {{ if eq .Type "tags" }}
                            #{{ .Title }}
                            {{ else if eq .Type "archives" }}
                            Archive {{ .Title }}
                            {{ else }}
                            {{ .Title }}
                            {{ end }}
                        </h1>
						<span class="time">
							Published at {{ .Date.Format "January 2, 2006" }} By {{ $.Param "author" }}.
						</span>
                    </div>
                    <!-- <hr style="margin: 60px 0px 10px 0px;" /> -->
					<div class="content-text">
						{{ .Content }}
					</div>
                </div>
            </div>
        </div>
        <!-- <div class="news_right">
            {{ partial "news/widget-tags.html" . }}
            {{ partial "news/widget-recent.html" . }}
            {{ partial "news/widget-archives.html" . }}
        </div> -->
    </div>
</div>
{{ end }}